@font-face {
  font-family: pokemon;
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Pokemon Solid.ttf');
}

.title {
  font-family: pokemon, sans-serif;
  font-size: 4em;
  color: #feca1b;
  text-shadow: 2px 2px #3761a8, -2px 0 0 #3761a8, 0 2px 0 #3761a8, 0 -2px 0 #3761a8, 1px 1px #3761a8, -1px -1px 0 #3761a8, 1px -1px 0 #3761a8, -1px 1px 0 #3761a8;
  text-align: center;
}

.navbarItems {
  font-size: 2em;
  text-align: center;
}

.navbarItems > * {
  color: #3761a8;
  text-decoration: none;
  margin: 0 1.5em;
}

.navbarItems > *:hover {
  color: #020122;
}
