.flex {
  display: flex;
  justify-content: center;
}

.mainDiv {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  color: #020122;
  text-decoration: none;
  padding: 1em;
  border: 10px solid #ca4745;
  border-radius: 10px;
  background-image: url(../styles/images/pokeball_red.svg);
  background-size: 5em;
  background-repeat: no-repeat;
  background-position-x: -25%;
  background-position-y: center;
}

.mainDiv img {
  width: 10em;
  height: 10em;
  align-self: center;
}

h1::first-letter {
  text-transform: capitalize;
}

.data {
  font-size: 2em;
}

.icon {
  text-align: center;
  font-size: 2em;
  margin-top: 2px;
  margin-right: 20px;
}
