.categoryDiv {
  text-align: center;
}

.pokemonDiv > * {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  font-size: 2em;
  gap: 0.5em;
}

.pokemonDiv > * > * {
  color: #020122;
  text-decoration: none;
  padding: 1em;
  border: 10px solid #ca4745;
  border-radius: 10px;
  background-image: url(../styles/images/pokeball_red.svg);
  background-size: 5em;
  background-repeat: no-repeat;
  background-position-x: -25%;
  background-position-y: center;
}

.pokemonDiv > * > *:hover {
  color: #0d07b6;
  border: 10px solid #0d07b6;
}
